<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/login.css" type="text/css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="logo">
        <img src="~/Images/Logo.png" alt="logo" />
        <p>Building Product Selection Platform</p>
        @RenderBody()
    </div>
</body>
</html>

