@model eCommerceMVC.Models.User

@{
    ViewBag.Title = "login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/login.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet" />
    <title>EnterCustomer</title>
</head>
<body>
    <div>
        <ul class="navBar">
            <li>
                <a href="#" class="signupLink">Sign Up</a>
            </li>
        </ul>
    </div>

    <div class="logo">
        <img src="~/Images/Logo.png" alt="logo" class="img-responsive" style="margin: auto;"/>
        <p>Building Product Selection Platform</p>
    </div>

    <div class="login">
        <form action="@Url.Action("LoginUser", "User")" method="post" class="form-group" id="form">
            <p>@ViewData["erroeinfo"]</p>
            <input name="UserName" class="form-control"
                    type="text"
                   id="username"
                    placeholder="Username or Email" /><span class="fas fa-user loginspan"></span>
            <br />
            <input name="UserPassword" class="form-control"
                   type="password"
                   id="password"
                   placeholder="Password" /><i class="fas fa-briefcase passspan"></i>
            <br />
            <input id="submitBtn" class="btn btn-primary loginBtn" type="submit" value="Log In" />
        </form>
    </div>

    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Register as User</h4>
                </div>
                <div class="modal-body">
                    <form  id="newregister" action="@Url.Action("Register", "User")" method="post" enctype="multipart/form-data"> 
                        <div class="form-group">
                            <label for="exampleInputImage">Image Preview</label>
                            <br />
                            <img id="profileImage" class="profileImage" />
                            <br />
                            <label for="exampleInputFile">File input</label>
                            <input type="file" name="file" id="exampleInputFile" >
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   placeholder="User Name" name="newusername" id="inputUserName" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   placeholder="Email Id" name="newuseremail" id="inputEmail" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password"
                                   type="password" name="newuserpassword" id="inputPassword" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm Password"
                                   type="password" id="inputConfirmPassword"
                                   name="newuserconfirmpassword"/>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="newregister">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#exampleInputFile").click(function () {
                $("#profileImage").attr('src', '/Images/img_avatar.png');
            })

            $("#form").validate({
                rules: {
                    UserName: 'required',
                    UserPassword: 'required',
                },
                messages: {
                    UserName: 'This fiels is required!',
                    UserPassword: 'This field is required!'
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $("#newregister").validate({
                rules: {
                    file: 'required',
                    newusername: 'required',
                    newuseremail: {
                        required: true,
                        email: true,
                        maxlength: 255,
                    },
                    newuserpassword: {
                        required: true,
                        minlength: 5,
                    },
                    newuserconfirmpassword: {
                        required: true,
                        minlength: 5,
                        equalTo: "#inputPassword"
                    }
                },
                messages: {
                    file: 'Please select profile image!',
                    newusername: 'Please enter username!',
                    newuseremail: 'Please enter email!',
                    newuserpassword: 'Please enter password!',
                    newuserconfirmpassword: 'Please enter confirm password!'
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
            $(".signupLink").click(function () {
                $("#loginModal").modal('show');
            });
            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });
        });
    </script>
</body>
</html>
